<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Document</title>
        <style>
            .lead {
                padding-top: 10px;
                padding-buttom: 10px;
                padding-left: 6px;
                padding-right: 6px;
                margin-top: 10px;
                background-color: #f6f6f6;
                width: 100%;
                

            }
        </style>
    </head>
    <body>
        <h1>This is all about leads</h1>
        {% for lead in leads %}
        <div c>
            {{ lead.first_name }} {{ lead.last_name}} Age: {{ lead.age }}
        </div>
        {% endfor %}
    </body>
</html>
